html {
  overflow: visible;
  width: 100%;
  margin: 0;
  body {
      font-family: $brandon_regular;
      background-color: $black;
      color: $darkGrey;
      margin: 0;
      padding: 0;
      height: 100%;
      min-height: 100%;

  }
}

canvas {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}
#wrapper {

    position: absolute;
    left: 0;
    width: 320px;

    text-align: center;
    top: 55%;
    left: 50%;
    margin-left: -160px;
    margin-top: -160px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    opacity: 1;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;

}

.nav-active {
  #wrapper {
    opacity: 0;
  }
}

h1 {
    $font--size--calc: calc(2vw + 25px);
    color: $lightGrey;
    font-family: $brandon_regular;
    font-size: $font--size--calc;
    letter-spacing: 10px;
    text-transform: uppercase;
    margin: 12px 0 0 0;
    padding: 0;
    left: 4px;
}
h2 {
    $font--size--calc: calc(2vw + 10px);
    font-family: $brandon_light;
    font-size: $font--size--calc;
    color: $midGrey;
    font-size: 15px;
    letter-spacing: .12em;
    margin-top: 0;
    margin-bottom: 40px;
    left: 3px;
}
/*
h1, h2 {
    position: relative;
}
*/
p {
    color: $midGrey;
    font-size: 14px;
    line-height: 2em;
    margin: 0;
    letter-spacing: 2px;
}


a {
  //color: darken($midGrey, 20);
  color: $midGrey;
  font-family: $brandon_regular;
  text-decoration: none;
  &:hover, &:active {
    color:$lightGrey;
    //color:#fff;
    transition:.7s;
  }
}



.fancy {
    $slide-color: $black;
    $slide-padding-vertical: 2px;
    $slide-padding-horizontal: 5px;
    padding: $slide-padding-vertical 0;
    box-shadow: inset 0 0 0 0 $slide-color;
  	transition: all 0.7s;
    a {
      padding: $slide-padding-vertical $slide-padding-horizontal;
      box-shadow: inset 0 0 0 0 rgba(100,100,100,0.2);
    	transition: all 0.7s;
			transition-delay: 0.1s;
    }
    &:hover {
			//color: $lightGrey;
      a {
        box-shadow: inset 300px 0 0 0 rgba(100,100,100,0.2);
      }
  		box-shadow: inset -300px 0 0 0 rgba(100,100,100,0.2);
  		//color: $darkGrey;
  	}
}
