//grid icon
.grid-icon {
	$size: 30px;
	height: $size;
	width: $size;
	position: fixed;
	z-index:2;
	left: 5%;
	top: 30px;
	padding: 10px;

	$icon-color: $darkGrey;
	$highlight-color: lighten($icon-color, 50%);

	cursor: pointer;
	//border-radius:4px;
	//margin:2em;
	//width:6em;
	//height:6em;
	display:-webkit-inline-flex;
	align-items:center;
	justify-content:center;
	transition:.2s;
	> span {
		transition:.2s;
		background:$icon-color;
		width:.4em;
		height:.4em;
		box-shadow:-.6em -.6em $icon-color, 0 -.6em $icon-color, .6em -.6em $icon-color, -.6em 0 $icon-color, .6em 0 $icon-color, -.6em .6em $icon-color, 0 .6em $icon-color, .6em .6em $icon-color;
	}
	&:hover {
		> span {
			background: $highlight-color;
			box-shadow:-.8em -.8em $highlight-color, 0 -.8em $highlight-color, .8em -.8em $highlight-color, -.8em 0 $highlight-color, .8em 0 $highlight-color, -.8em .8em $highlight-color, 0 .8em $highlight-color, .8em .8em $highlight-color;
		}
	}
}

//menu-icons

.menu-icon {
	$icon-color: $darkGrey;
	$highlight-color: $midGrey;
	$transition-time: 0.3;
	$icon--bar--height: 2px;
	$icon--bar--width: 30px;
	$icon--bar--spacing: 8px;
	$hover--distance: $icon--bar--spacing/2;
	$transition--easing: cubic-bezier(.77,0,.175,1);

	height: $icon--bar--height + $icon--bar--spacing*2;
	width: $icon--bar--width;
	position: fixed;
	padding: 10px;
	z-index:2;
	right: 5%;
	top: 30px;
	cursor: pointer;
  -webkit-transition: all $transition-time + s;
	transition: all $transition-time + s;

	& > .menu-bar {
		&,
		&:before,
		&:after {
			height: $icon--bar--height;
			width: $icon--bar--width;
		}
		position: absolute;
		transform: translateY($icon--bar--spacing);
		background: rgba($icon-color, 1);
		transition: all 0ms 300ms;
		&:before {
			content: "";
			position: absolute;
			left: 0;
			bottom: $icon--bar--spacing;
			background: rgba($icon-color, 1);
			transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
		}
		&:after {
			content: "";
			position: absolute;
			left: 0;
			top: $icon--bar--spacing;
			background: rgba($icon-color, 1);
			//transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
		}

		&.menu-active {
			background: rgba($highlight-color, 0);
			&:after {
				background: rgba($highlight-color, 1);
				top: 0;
				transform: rotate(45deg);
				transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
			}
			&:before {
				background: rgba($highlight-color, 1);
				bottom: 0;
				transform: rotate(-45deg);
				transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
			}
		}
	}

	&:hover {
		& > .menu-bar {
			&:not(.menu-active) {
				background: rgba($highlight-color, 1);
				transform: translateY($icon--bar--spacing);
				transition: all $transition--easing 0.3s;

				&:before {
					background: rgba($highlight-color, 1);
					transform: translateY(-$icon--bar--spacing*0.5);
					transition: all $transition--easing 0.3s;
				}
				&:after {
					background: rgba($highlight-color, 1);
					transform: translateY($icon--bar--spacing*0.5);
					transition: all $transition--easing 0.3s;
				}
			}
		}
	}

}






.nav{
	$width: 100vw;
	$height: 100vh;
	$font--size--calc: calc(2vw + 10px);
  $font--color--active: $lightGrey;
	$transition--easing: cubic-bezier(.77,0,.175,1);
  $transition--length: 0.5;
	position: fixed;
	top:0;
	z-index:-1;
  height: 100%;
  transition: 0.2 ease;
	&:before, &:after{
		content: "";
		position: fixed;
		width:$width;
		height:$height;
		background: rgba($darkGrey, .2);
		z-index:-2;
		transition: transform $transition--easing $transition--length + s;
		transform: translateX(0%) translateY(-100%);
	}
	&:after{
		background: rgba($darkGrey, 0.9);
		transition-delay: 0s;
	}
	&:before{
		transition-delay: .1s;
	}

	&__content{
    //font-family: $rajdhani;
    font-family: $brandon_regular;
    //font-family: $lato;
    text-transform: uppercase;
		position: fixed;
		top:50%;
		transform: translate(0%,-50%);
		width: 100%;
    text-align: center;
		font-size: $font--size--calc;
    padding: 100px 0;
		cursor: pointer;
	}

  &__list-entry{
    display: block;
    padding: 10px 0;
  }

	&__list-item{
		position: relative;
		display: inline-block;
    //width: 100%;
    width: inherit;
		transition-delay: $transition--length + s;
		transform: translate(0%, 100%);
    opacity: 0;
		transition: opacity .2s ease, transform .3s ease;
		margin-right: 25px;

    &:before{
			content: "";
			position: absolute;
			background: $font--color--active;
			width: 0px;
			height: 1px;
			top: 100%;
			//transform: translate(0%, 0%);
			transition: all .3s ease;
			z-index: -1;
		}


		&:hover{
			&:before{
				width: 100%;
			}
		}

	}

}



//active state
body.nav-active{
	$menu--items--count: 4;
  $transition--length: 0.5;
	.nav {
		visibility:visible;
    z-index: 1;
		&:before,&:after{
			transform: translateX(0%) translateY(0%);
		}
		&:after{
			transition-delay: .1s;
		}
		&:before{
			transition-delay: 0s;
		}

		&__list-item{
			opacity: 1;
			transform: translateX(0%);
      color: $lightGrey;
			transition: opacity .3s ease, transform .3s ease, color .3s ease;
    }

    &__list-entry{
      @for $i from 0 through $menu--items--count {
				&:nth-child(#{$i}){
          .nav__list-item{
            transition-delay: $transition--length * $i / 8 + .5 + s;
          }
				}
			}
    }
	}
}
